:root {
    --dourado: #3d0bc7;
    --black: #000000;
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    
}

body {
    background: #eae8f0;
    font-family: 'Times New Roman', Times, serif;
    color: white; 
    
}

header .container {   
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.logo {
    color: var(--dourado);
    padding-bottom: 10px;
    margin-left: 10px;
}

header nav a {
    text-decoration: none;
    padding-right: 10px;
    font-size: 20px;   
}

.principal {
    background: linear-gradient(rgba(0,0,0,.50), rgba(0,0,0,.50)100%), url('/img/halo1.jpg');
    height: 690px;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: flex-start;
    background-size: cover;
}

.titulo {
    font-size: 35px;
    padding-top: 30%;
    padding-bottom: 1%;
    color: rgb(147, 147, 211);
    margin-left: 10px;

}

.subtitulo {
    font-size: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-left: 10px;
}

header nav a:hover {
    color:rgb(243, 10, 173);
}

.botao{
    background-color: rgba(0,0,0,.50);
    border:none;
    color: rgb(239, 239, 247);
    border-radius: 5px;
    padding: 10px 30px;
    margin:5px;
    

    cursor: pointer;
    transition: .3s ease all;
    
 
    }

    .botao:hover {
        background-color:black;
        color: rgb(146, 5, 5);
        border-left: 15px;
}

.descricao {
    font-size: 25px;
    color:#3d0bc7;
    padding: 10px;
}

#items-wrapper {
    width: 100vw;
    display: grid;
    place-items: center;
 

}

img {
    width: 98%;
    height: 98%;
}

#items {
    display: flex;
    overflow-x: auto;
}

.item {
    flex: none;
}


